:root {
    --bs-secondary-color: #f1f1f1; /* Установить переменную в белый цвет */
}

body {
    background-color: #1c1c1c;
    color: #f1f1f1;
}

h1 {
    color: #f1f1f1;
    text-align: center;
    margin-top: 20px;
}

.form__reg {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form__reg .col {
    flex: 1;
    margin-right: 10px;
}

.form__reg .col:last-child {
    margin-right: 0;
}

.form-control {
    background-color: #333;
    color: #f1f1f1;
    border: 1px solid #444;
}

.btn-primary {
    background-color: #555;
    border: none;
}

.btn-primary:hover {
    background-color: #777;
}

.table-dark {
    background-color: #333;
}

.table-dark th {
    background-color: #444;
    color: #fff;
}

.table-dark td {
    background-color: #555;
    color: #f1f1f1;
}

.table-dark a {
    color: #1e90ff;
}

.table-dark a:hover {
    color: #63b8ff;
}
